.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
.top-nav {
    height: 150px;
    width: 97%;
    margin: 15px 15px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    margin: 15px;
    background-color: blue;
}
.main {
    height: 400px;
    width: 77%;
    background-color: red;
    margin: 15px 0px 30px 15px;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.sub-content {
    height: 200px;
    width: 31%;
    margin-right:15px;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 97%;
    background-color: purple;
}

#placement{
    display: flex;
    justify-content: flex-start;
}